<import from="./feedback-view/feedback-table"></import>
<import from="./feedback-view/feedback-form"></import>

<feedback-table feedbacks.bind="feedbacks"></feedback-table>
<feedback-form categories.bind="sortedCategories"></feedback-form>