<div class="form-feedback">
    <form submit.delegate="postFeedback()">
        <h1 class="h3 mb-3 fw-normal">Please give us feedback</h1>
        <div class="mb-3">
            <label for="inputName" class="visually-hidden">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus value.bind="name">
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="visually-hidden">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required value.bind="email">
        </div>
        <div class="mb-3">
            <label for="inputFeedback" class="visually-hidden">Text</label>
            <textarea id="inputFeedback" class="form-control" placeholder="Text" required value.bind="text"></textarea>
        </div>
        <div class="mb-3">
            <label for="inputCategory" class="visually-hidden">Category</label>
            <select id="inputCategory" class="form-select" multiple aria-label="multiple select example" value.bind="selectedCategories">
                <option  repeat.for="cat of categories" 
                    value.bind="cat.id" disabled.bind="cat.disabled">
                    ${cat.level &gt; 0 ? "-".repeat(cat.level) + " " : ""}${cat.name}
                </option>
            </select>
        </div>
  
        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
    </form>
</div>