<div class="feedback-table-area">
    <table class="feedback-table" aria-label="Feedback table">
        <thead>
        <tr>
            <th scope="col" class="col-0">#</th>
            <th scope="col" class="col-1">Date</th>
            <th scope="col" class="col-2">Name</th>
            <th scope="col" class="col-2">Email</th>
            <th scope="col" class="col-3">Category</th>
            <th scope="col" class="col-4">Text</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="item of feedbacks" data-view="collapsed" click.delegate="toggleFeedback($index)">
            <th class="col-0" scope="row">${$index + 1}</th>
            <td class="col-1 fb-cell">${item.time}</td>
            <td class="col-2 fb-cell">${item.name}</td>
            <td class="col-2 fb-cell">${item.email}</td>
            <td class="col-3 fb-cell">${item.categories}</td>
            <td class="col-4 fb-cell">${item.text}</td>
        </tr>
        </tbody>
    </table>
</div>
