.col-0 {
    text-align: start;
    width: 2px;
}

.col-1 {
    max-width: 5vw; 
}

.col-2 {
    max-width: 11vw;
}

.col-3 {
    max-width: 25vw;
}

.col-4 {
    max-width: 45vw;
}

.fb-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5vw 0 0.5vw;
}

.col-1, .col-2, .col-3, .col-4, .fb-cell {
    text-align: center;
}

.expanded {
    border-top: 1px dashed #555;
    border-bottom: 1px dashed #555;
  
    white-space: normal;
    text-overflow: unset;
    vertical-align: text-top;
  
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }